*{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color:#333;
    color:#fff;

}

img {
    width: 125px;  
    margin-bottom: 10px;
}

.title {
    user-select: none;
}

.conteiner{
    display: flex;
    justify-content: center;
    background-color:#000;
    padding-top: 5px;  
    box-shadow: 2px 2px 5px 2px #fff;
}


.conteiner-Canvas {
    display: flex;
    justify-content: center;
}

.canvas{
    background-color: #fff;
    border: 1px solid #000;
}

.menu{
    text-align: center;   
    margin: 20px;
}

.btn-reset,
.btn-descarga{
    outline: none;
    padding: 5px 10px;
    border-radius: 10%;
}

.btn-reset:hover,
.btn-descarga:hover{
    background-color:#333;
    color:#fff;
}
